API_PORT=3001

DB_USER=userName
DB_PASSWORD=userPass
DB_NAME=users
DB_PORT=5432
DB_HOST=postgres #Same as the service name in docker-compose.yml

FE_PORT=3000
NEXT_PUBLIC_BACKEND_ORIGIN="http://localhost:${API_PORT}"
FRONTEND_ORIGIN="http://localhost:${FE_PORT}"

BASE_DISCOVER_CARS_API_URL="https://booking-test.dev-dch.com/api/v1/"
